{
  "extends": ["artdeco", "plugin:react/recommended"],
  "globals": {
    "preact": true
  },
  "rules": {
    "quotes": 0,
    "quote-props": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0
  }
}